@media all and (min-width: 1800px) {
    .volunteers-slider .owl-controls .owl-nav .owl-prev,
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        width: 150px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev {
        left: 330px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        right: 330px;
    }
}

@media all and (max-width: 1499px) {
    .volunteers-slider .owl-controls .owl-nav .owl-prev,
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        width: 100px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev {
        left: 200px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        right: 200px;
    }
}

@media all and (max-width: 1400px) {
    .banner-box {
        height: 620px;
    }
}

@media all and (max-width: 1280px) {
    .banner-box {
        height: 550px;
    }

    .volunteers-slider .owl-controls .owl-nav .owl-prev,
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        width: 80px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev {
        left: 140px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        right: 140px;
    }
}

@media all and (max-width: 1199px) {
    .learn-more.big {
        font-size: 20px;
        padding: 16px 35px 14px;
    }

    .btn.donate {
        margin-left: 30px;
    }
    .main-nav > ul > li > a,
    .main-nav .wr-megamenu-container ul.wr-mega-menu > li.wr-megamenu-item > a.menu-item-link {
        padding-left: 12px;
        padding-right: 12px;
    }

    .banner-box {
        height: auto;
    }
}

@media all and (max-width: 1080px) {
    .main-nav > ul > li > a,
    .main-nav .wr-megamenu-container ul.wr-mega-menu > li.wr-megamenu-item > a.menu-item-link {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }
    a.search-btn {
        margin-left: 10px;
    }
    .btn.donate {
        margin-left: 25px;
    }
}

@media all and (max-width: 1024px) {
    .section-calculator:before {
        background-position: left center;
        width: 207px;
        height: 322px;
    }
    .section-calculator:after {
        background-position: right center;
        width: 213px;
        height: 362px;
    }
    .why-we-list {
        margin-left: -15px;
        margin-right: -15px;
    }
    .why-we-list > li {
        width: 50%;
        padding: 0 15px;
    }

    .content-box {
        padding-right: 320px;
    }
    .sidebar {
        max-width: 300px;
    }
    .sidebar .newsletter-box li {
        margin-bottom: 10px;
        display: block;
    }
    .sidebar .newsletter-box li:last-child {
        margin-bottom: 0;
    }
    .newsletter-btn {
        width: 100%;
        padding-left: 0;
    }

}

@media all and (max-width: 991px) {
    .desktop {
        display: none !important;
    }

    .section {
        padding: 72px 0 80px;
    }
    .banner-box {
        display: block;
        width: 100%;
        text-align: center;
    }

    .wrapper { padding-top: 106px; }
    .home .wrapper{ padding-top: 96px; }
    .inner .wrapper { padding-top: 126px; }

    .logo {
        margin-top: 4px;
    }
    a.search-btn,
    .scroll-js a.search-btn {
        margin: 32px 85px 0 20px;
        font-size: 30px;
        line-height: 1;
    }
    .search-box {
        left: 250px;
    }
        .search-box ul {
            padding: 28px 20px 28px;
        }

    .mobile-menu-wrap,
    .mobile-menu-toggle {
        display: block;
    }

    .faces-title {
        font-size: 14px;
        line-height: 1.25;
        bottom: 10px;
    }
    .read-story {
        bottom: -26px;
        font-size: 13px;
    }

    .join-event-list {
        margin: 0 50px 0 75px;
    }
    .join-box {
        margin-left: 50px;
    }

    .donate-list li {
        padding: 0 10px;
    }
    .donate-number {
        width: 120px;
        height: 120px;
    }
    .donate-number span {
        font-size: 38px;
    }
    .donate-number:after {
        margin-left: -15px;
        width: 30px;
    }

    .footer-top {
        padding: 60px 0 30px;
    }
    .footer-top .col-4 {
        width: 50%;
        float: none;
        padding-bottom: 30px;
    }
    .footer .col-2 {
        width: 30%;
    }
    .footer .col-3 {
        width: 40%;
    }
    .cap {
        display: none;
    }
    .footer-bottom {
        padding-bottom: 40px;
    }
    .footer-bottom > .container {
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
    }
    .footer-bottom .col:not(.cap) {
        padding-bottom: 40px;
    }
    .footer .copyright {
        float: none;
        width: 100%;
        text-align: center;
        padding: 50px 20px;
        display: table-footer-group;
    }
    .footer .copyright > p,
    .copy-menu {
        padding-left: 20px;
        padding-right: 20px;
    }
    .copy-menu li {
        float: none;
        display: inline-block;
    }

    .our-leaders-list > li {
        width: 33%;
    }
    .our-leaders-list > li:nth-child(4n+1) {
        clear: none;
    }
    .our-leaders-list > li:nth-child(3n+1) {
        clear: both;
    }

    .why-we-list > li {
        width: 48%;
    }
}

@media all and (max-width: 960px) {
    .volunteers-slider .owl-controls .owl-nav .owl-prev,
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        width: 70px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev {
        left: 50px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        right: 50px;
    }

    .take-event-list-btn-box {
        text-align: center;
    }

    .section-financials-logo .financials-logo-list {
        display: block;
        margin: 0 0 -30px 0;
    }
        .section-financials-logo .financials-logo-list li {
            display: inline-table;
            width: 32%;
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 30px;
        }


}

@media all and (max-width: 860px) {
    .cell-list,
    .sidebar .trand-list,
    .after-popular-article .cell-list {
        padding-top: 20px;
    }
    .cell-list > li,
    .sidebar .trand-list > li,
    .after-popular-article .cell-list > li{
        float: left;
        width: 50%;
        padding-bottom: 20px;
        margin: 0;
    }
    .cell-list > li:first-child,
    .cell-list > li:nth-child(2n+1),
    .sidebar .trand-list > li:first-child,
    .sidebar .trand-list > li:nth-child(2n+1){
        clear: both;
    }

    .join-event-list {
        margin: 0 0 0 50px;
    }
    .join-box {
        margin-left: 0;
    }

    .section-download-list .download-list > li {
        width: 50%;
    }
    .section-download-list .download-list > li:nth-child(3n+1) {
        clear: none;
    }
    .section-download-list .download-list > li:nth-child(2n+1) {
        clear: both;
    }

    .content-box {
        padding-right: 0;
        margin-bottom: 40px;
    }
        .wp-pagenavi {
            float: none;
            padding-bottom: 20px;
        }
    .sidebar {
        position: relative;
        left: 0;
        margin: 0;
        max-width: 100%;
    }
    .sidebar .newsletter-box li {
        margin-bottom: 0;
        display: table-cell;
    }
    .newsletter-btn {
        width: 130px;
        padding-left: 10px;
    }
    .sidebar .trand-list > li {
        float: left;
        /*width: 100%;*/
        margin-bottom: 0;
    }
    .sidebar .related-article {
        padding-bottom: 0;
    }
    .standard-page.blog-list-page,
    .standard-page.blog-page,
    .standard-page {
        padding-bottom: 60px;
    }

    .after-popular-article {
        margin-bottom: -20px;
    }
}

@media all and (max-width: 768px) {
    .wrapper { padding-top: 84px; }
    .home .wrapper{ padding-top: 74px; }
    .inner .wrapper { padding-top: 104px; }

    .logo {
        height: 70px;
    }
    .mobile-menu-toggle {
        height: 74px;
        width: 74px;
    }
    .mobile-menu-wrap {
        top: 84px;
    }
    .home .mobile-menu-wrap {
        top: 74px;
    }
    a.search-btn,
    .scroll-js a.search-btn {
        margin-top: 21px;
        margin-right: 76px;
    }
    .search-box {
        left: 210px;
    }
    .search-box ul {
        padding: 17px 20px;
    }

    .faces-list {
        display: block;
        overflow: hidden;
        margin-left: -15px;
        width: auto;
    }
    .faces-list > li,
    .faces-list .small-faces li {
        display: block;
        float: left;
        width: 20%;
        margin: 0;
        padding-left: 15px;

    }
    .faces-list > .small-faces {
        width: 40%;
        padding-left: 0;
    }
    .faces-list > .small-faces li {
        width: 50%;
    }
    .faces-list .faces-wrap {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .faces-list .faces-wrap img {
        display: none;
    }

    .section-calculator:before {
        width: 104px;
        height: 161px;
        top: -70px;
    }
    .section-calculator:after {
        width: 107px;
        height: 181px;
        bottom: -60px;
    }
    .section-content {
        margin-bottom: 40px;
    }

    .donate-list {
        padding-bottom: 0;
    }
    .donate-list li {
        float: left;
        width: 33.33%;
        padding: 0 20px;
        margin-bottom: 70px;
    }
    .donate-number {
        width: 140px;
        height: 140px;
    }
    .donate-number span {
        font-size: 42px;
    }
    .donate-number:after {
        margin-left: -25px;
        width: 50px;
    }

    .footer-top .col-4 {
        width: 60%;
    }
    .footer-social li {
        margin-left: 28px;
    }
    .footer-social a {
        font-size: 40px;
    }

    .our-leaders-list {
        margin-bottom: -50px;
    }
    .our-leaders-list > li {
        width: 50%;
        margin-bottom: 50px
    }
    .our-leaders-list > li:nth-child(3n+1) {
        clear: none;
    }
    .our-leaders-list > li:nth-child(2n+1) {
        clear: both;
    }

    .wp-pagenavi {
        text-align: center;
    }

    .leader-soc-profile i.fa {
        font-size: 24px;
    }

    .leader-soc-profile i.fa {
         font-size: 24px;
     }
    .leader-soc-profile li {
         padding: 0 10px;
     }
    .leader-soc-profile {
        margin-top: 15px;
    }
}

@media all and (max-width: 782px) {
    .admin-bar .header { top: 46px; }
    .admin-bar .mobile-menu-wrap { top: 130px; }
    .home.admin-bar .mobile-menu-wrap { top: 120px; }
    .admin-bar .slick-nav .mobile-menu-wrap { top: 84px; }
    .home.admin-bar .slick-nav .mobile-menu-wrap { top: 74px; }
}

@media all and (max-width: 767px) {
    .volunteers-slider {
        padding-top: 25px;
    }
    .volunteers-slider .owl-item .volunteer-content {
        padding: 112px 42px 48px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev,
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        width: 80px;
        top: 132px;
        height: -moz-calc(100% - 132px);
        height: -webkit-calc(100% - 132px);
        height: calc(100% - 132px);
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev {
        left: 0;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        right: 0;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev:before {
        margin-left: -4px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev:hover:before {
        margin-left: -11px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-next:before {
        margin-left: -24px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-next:hover:before {
        margin-left: -17px;
    }

    .logos-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    .logos-list li {
        width: 24%;
        padding: 0 10px;
        margin-bottom: 20px;
    }
}

@media all and (max-width: 640px) {
    .search-box {
        left: 0;
    }

    .faces-list {
        margin-left: -20px;
    }
    .faces-list > li,
    .faces-list > .small-faces {
        position: relative;
        display: block;
        float: left;
        width: 50%;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .faces-list > li:first-child {
        width: 66.6%;
    }
    .faces-list > .small-faces {
        width: 33.33%;
    }
    .faces-list > .small-faces li{
        display: block;
        width: 100%;
        padding: 0 0 10px;
    }
    .faces-list > .small-faces li:last-child {
        padding-top: 10px;
        padding-bottom: 0;
    }

    .volunteers-slider .owl-stage-outer {
        padding-bottom: 15px;
        box-sizing: content-box;
    }

    .join-wrap {
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
    }
    .join-box {
        position: relative;
        display: table-header-group;
        text-align: center;
    }
    .join-box:after {
        content: '';
        display: block;
        height: 60px;
    }
    .join-event-list {
        float: none;
        margin: 0;
        display: table-footer-group;
    }
    .join-event-list li a {
        display: block;
        max-width: 100%;
    }

    .footer .col,
    .footer-bottom .col:not(.cap) {
        float: none;
        width: 100%;
        padding-bottom: 20px;
    }

     .why-we-list > li {
        width: 100%;
    }

    .section-download-list .download-list > li {
        width: 100%;
    }
    .section-download-list .download-list > li:nth-child(2n+1) {
        clear: none;
    }

    .section-financials-logo .financials-logo-list li {
        width: 48%;
    }

    .accordion-list > li {
        padding: 20px;
    }
    .accordion-list  li h2 {
        padding-right: 40px;
    }
    .accordion-list > li:after{
        width: 19px;
        right: 20px;
        top: 29px;
    }
    .accordion-list > li:before{
        height: 19px;
        right: 28px;
        top: 21px;
    }

    .glossary-sub-list > li {
        padding: 25px 20px 0;
    }
    .glossary-sub-list li .article-content-wrap {
        padding-bottom: 25px;
    }

    .type-list.blog-list > li {
        padding: 20px;
    }
        .image-box {
            width: -webkit-calc(100% + 40px);
            width: -moz-calc(100% + 40px);
            width: calc(100% + 40px);
            margin-left: -40px;
        }
        .blog-bottom-box {
            padding-top: 20px
        }
        .blog-bottom-box a.copy-permalink {
            top: 20px;
        }

    .post-info span {
        display: inline-block;
        margin-bottom: 10px;
    }
    .post-info span:last-child {
        margin-bottom: 0;
    }

    .article-content-box {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-article {
        padding: 20px;
    }

    .exercise-list-page .article-content-box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .our-leader-banner-box .our-leader-banner-title {
        font-size: 38px;
        line-height: 1;
    }


    .type-list .blog-bottom-box {
        padding-right: 0;
    }

    .blog-bottom-box a.btn {
        float: none;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 600px) {
    #wpadminbar { display: none; }
    html[lang] { margin-top: 0 !important; }
    .admin-bar .header { top: 0; }
    .admin-bar .mobile-menu-wrap { top: 84px; }
    .home.admin-bar .mobile-menu-wrap { top: 74px; }
}

@media all and (max-width: 560px) {
    .logos-list li {
        width: 32.5%;
    }

    .donate-list li {
        width: 50%;
    }
    .donate-checks {
        text-align: left;
    }

    .our-leaders-list > li {
        width: 100%;
    }
    .our-leaders-list > li:nth-child(2n+1) {
        clear: none;
    }

    .accordion-list h2 {
        font-size: 21px;
    }
    .accordion-box-content p {
        font-size: 17px;
    }

    .type-list .article-video-box,
    .type-list .article-img-box {
        float: none;
        margin: 20px;
        max-width: 100%;
    }

    .exercise-list-page .article-img-box {
        border: none;
    }
    .exercise-list-page .article-img-box img {
        margin: 10px auto 0;
    }

    .content img.alignleft,
    .content img.alignright {
        display: block;
        float: none;
        margin: 0 auto 40px;
        clear: both;
    }
}

@media all and (max-width: 480px) {
    .learn-more.big {
        font-size: 18px;
        padding: 14px 30px 12px;
    }
    .btn, a.btn {
        /*padding: 11px 20px 9px;*/
    }
    .section .btn {
        min-width: 180px;
    }

    .banner-title {
        margin-bottom: 20px;
        font-size: 40px;
    }
    .banner-box p {
        margin-bottom: 12px;
        font-size: 17px;
    }
    .banner-box p:last-of-type {
        margin-bottom: 25px;
    }

    .small-faces .faces-wrap:hover .faces-title {
        bottom: 40px;
    }
    .small-faces .faces-wrap .read-story {
        bottom: -20px;
        line-height: 1;
    }
    .small-faces .faces-wrap:hover .read-story {
        bottom: 10px;
    }

    .volunteers-slider {
        padding-top: 15px;
    }
    .volunteers-slider .owl-item .volunteer-content {
        padding: 95px 20px 30px;
    }
    .volunteer-img {
        height: 150px;
        width: 150px;
        margin-bottom: -75px;
    }
    .volunteer-name {
        margin-bottom: 20px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev,
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        top: 0;
        height: 100%;
        width: 50px;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev {
        left: 0;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-next {
        right: 0;
    }
    .volunteers-slider .owl-controls .owl-nav .owl-prev:before,
    .volunteers-slider .owl-controls .owl-nav .owl-next:before {
        top: 50px;
        margin-top: 0;
    }

    .cell-box {
        padding: 12px 15px 16px;
    }
    .cell-date,
    .cell-location {
        font-size: 15px;
        line-height: 1.2;
    }

    .wrap-404 {
        padding: 30px 0 40px;
        font-size: 50px;
    }
    .wrap-404 .error-404{
        font-size: 140px;
        margin-bottom: -25px;
    }

    .section-events a.btn {
        padding: 11px 18px 9px;
        font-size: 16px;
    }

    .section-financials-logo .financials-logo-list li {
        width: 100%;
    }

    .wp-pagenavi {
        margin-bottom: -10px;
    }
    .wp-pagenavi a {
        width: 34px;
        height: 34px;
        line-height: 34px;
        margin-bottom: 10px;
    }
    .wp-pagenavi .current, .wp-pagenavi .extend {
        padding: 0 4px;
    }
    .wp-pagenavi .first:before,
    .wp-pagenavi .last:before,
    .wp-pagenavi .previouspostslink:before,
    .wp-pagenavi .nextpostslink:before {
        margin-top: -15px;
        font: 28px FontAwesome;
    }

    .sidebar .trand-list > li,
    .after-popular-article .cell-list > li{
        width: 100%;
        float: none;
        clear: both;
    }
}

@media all and (max-width: 420px) {
    .input-style { padding: 6px 6px 5px; }
    /*.btn, a.btn { padding: 10px 15px 8px; }*/
    .mar-b-60 { margin-bottom: 40px; }

    .wrapper { padding-top: 65px; }
    .home .wrapper{ padding-top: 60px; }
    .inner .wrapper { padding-top: 85px; }

    .header:after {
        height: 5px;
        bottom: -5px;
    }
    .logo {
        height: 56px;
        margin-left: -10px;
    }
    .mobile-menu-toggle {
        height: 60px;
        width: 60px;
    }
    .mobile-menu-toggle span:before,
    .mobile-menu-toggle span:after,
    .mobile-menu-toggle span {
        width: 28px;
    }
    .mobile-menu-wrap,
    .admin-bar .mobile-menu-wrap {
        top: 65px;
    }
    .home .mobile-menu-wrap,
    .home.admin-bar .mobile-menu-wrap {
        top: 60px;
    }

    a.search-btn,
    .scroll-js a.search-btn {
        margin: 15px 60px 0 0;
        font-size: 28px;
    }
    .search-box ul {
        padding: 12px 10px;
    }
    .search-box .btn {
        padding: 10px 12px 8px;
    }
    .search-box li:first-child {
        margin-left: 10px;
    }
    .close-search {
        top: -2px;
    }

    .faces-list {
        padding-top: 20px;
        margin-left: -10px;
    }
    .faces-list > li,
    .faces-list > .small-faces {
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .faces-list > .small-faces li {
        padding-bottom: 5px;
    }
    .faces-list > .small-faces li:last-child {
        padding-top: 5px;
        padding-bottom: 0;
    }

    .cell-list > li,
    .sidebar .trand-list > li,
    .after-popular-article .cell-list > li{
        width: 100%;
        float: none;
        clear: both;
    }

    .logos-list li {
        width: 49%;
    }

    .take-action-page .big-banner a.learn-more {
        margin-bottom: 15px;
    }
    .take-action-page .big-banner a.learn-more:last-child {
        margin-bottom: 0;
    }

    .section-download-list .download-list > li {
        padding-left: 0;
        padding-right: 0;
    }


    .accordion-list h2 {
        font-size: 20px;
    }
}

@media all and (max-width: 360px) {
    .small-faces .title-wrap {
        padding: 0 2px;
    }
    .small-faces .faces-wrap:hover .faces-title {
        bottom: 40px;
    }
    .small-faces .faces-wrap .read-story {
        bottom: -25px;
        line-height: 1;
    }
    .small-faces .faces-wrap:hover .read-story {
        bottom: 5px;
    }

    .subscribe-box .input-style {
        padding-left: 10px;
        padding-right: 10px;
    }
    .subscribe-btn {
        width: 110px;
    }

    .sidebar .newsletter-box li {
        margin-bottom: 10px;
        display: block;
    }
    .sidebar .newsletter-box li:last-child {
        margin-bottom: 0;
    }
        .newsletter-btn {
            width: 100%;
            padding-left: 0;
        }

}

@media all and (max-width: 340px) {
    .donate-list {
        padding-top: 10px;
    }
    .donate-list li {
        float: none;
        width: 100%;
        margin-bottom: 60px;
    }
}