/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:18px "proximanova-regular", Helvetica, Arial, sans-serif; background:#ccc; color:#191f22; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { color:#0097de; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

/*----------------------------------------------------------------------------------*/
/*--------------------------------------FONTS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff2') format('woff2'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular.svg#proximanova-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff2') format('woff2'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype'),
         url('../fonts/proximanova-bold.svg#proximanova-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-light';
    src: url('../fonts/proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light.woff2') format('woff2'),
         url('../fonts/proximanova-light.woff') format('woff'),
         url('../fonts/proximanova-light.ttf') format('truetype'),
         url('../fonts/proximanova-light.svg#proximanova-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-semibold';
    src: url('../fonts/proximanova-semibold.eot');
    src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold.woff2') format('woff2'),
         url('../fonts/proximanova-semibold.woff') format('woff'),
         url('../fonts/proximanova-semibold.ttf') format('truetype'),
         url('../fonts/proximanova-semibold.svg#proximanova-semibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*----------------------------------------------------------------------------------*/
/*---------------------------------DEFAULT STYLES-----------------------------------*/
/*----------------------------------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn,
input[type=submit], button {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.btn, a.btn {
    display: inline-block;
    margin: 0;
    padding: 12px 24px;
    background: #0097de;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: capitalize;
    font: 700 18px/1 'proximanova-bold';
    color: #fff;
    cursor: pointer;
}
.btn:hover { background: #fff; color: #0097de; text-decoration: none; }
.btn.red { background: #cf2d7d; }
.btn.red:hover { background: #BD1B6B; color: #fff; }
.btn.white { background: #fff; color: #0097de; }
.btn.white:hover { background: #0097de; color: #fff; }

.input-style::-webkit-input-placeholder { color: #4f6370; }
.input-style::-moz-placeholder { color: #4f6370; }
.input-style:-ms-input-placeholder { color: #4f6370; }
.input-style:-moz-placeholder { color: #4f6370; }
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    padding-top: 150px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    position: fixed;
    z-index: 1999;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    min-height: 150px;
}
    .logo {
        float: left;
        margin-top: 31px;
    }
    .btn.donate {
        float: right;
        margin-top: 55px;
        margin-left: 97px;
        padding: 13px 20px 11px;
        font-family: 'proximanova-semibold';
        font-size: 16px;
    }
    a.search-btn {
        float: right;
        margin-top: 66px;
        margin-left: 14px;
        font-size: 16px;
        color: #191f22;
    }
    a.search-btn:hover {
        text-decoration: none;
        color: #0097de;
    }

/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    float: right;
}
    .main-nav li {
        float: left;
    }
        .main-nav a {
            color: #191f22;
        }
        .main-nav ul:not(.sub-menu) a {
            display: table-cell;
            height: 150px;
            padding-left: 15px;
            padding-right: 15px;
            text-transform: uppercase;
            font-family: 'proximanova-semibold';
            font-size: 15px;
            vertical-align: middle;
        }
        .main-nav a:hover {
            text-decoration: none;
            color: #0097de;
        }
        .main-nav ul:not(.sub-menu) a:hover {
            background: #f5f8fa;
        }
        .main-nav .sub-menu {
            display: none;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/