/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:18px/1.6 "proximanova-regular", Helvetica, Arial, sans-serif; background:#fff; color:#191f22; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { color:#0097de; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

/*----------------------------------------------------------------------------------*/
/*--------------------------------------FONTS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff2') format('woff2'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular.svg#proximanova-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff2') format('woff2'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype'),
         url('../fonts/proximanova-bold.svg#proximanova-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-light';
    src: url('../fonts/proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light.woff2') format('woff2'),
         url('../fonts/proximanova-light.woff') format('woff'),
         url('../fonts/proximanova-light.ttf') format('truetype'),
         url('../fonts/proximanova-light.svg#proximanova-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-semibold';
    src: url('../fonts/proximanova-semibold.eot');
    src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold.woff2') format('woff2'),
         url('../fonts/proximanova-semibold.woff') format('woff'),
         url('../fonts/proximanova-semibold.ttf') format('truetype'),
         url('../fonts/proximanova-semibold.svg#proximanova-semibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*----------------------------------------------------------------------------------*/
/*---------------------------------DEFAULT STYLES-----------------------------------*/
/*----------------------------------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.radius {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
a, .btn,
input[type=submit], button,
.title-cell {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.btn, a.btn {
    display: inline-block;
    margin: 0;
    padding: 12px 24px 10px;
    background: #0097de;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: capitalize;
    font: 700 18px/1 'proximanova-bold';
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.btn:hover { background: #0075BC; text-decoration: none; }
.btn.red { background: #cf2d7d; }
.btn.red:hover { background: #B71565; color: #fff; }
.btn.white { background: #fff; color: #0097de; }
.btn.white:hover { background: #0075BC; color: #fff; }
.btn .fa { font-size: 14px; }
.btn .fa-chevron-right { margin-left: 5px; }
.btn .fa-calculator { margin-right: 2px; position: relative; top: -1px; }

.learn-more, a.learn-more {
    display: inline-block;
    margin: 0;
    padding: 7px 15px 4px;
    background: transparent;
    border: 2px solid #0097de;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: capitalize;
    font: 600 15px/1 'proximanova-semibold';
    color: #0097de;
    cursor: pointer;
    text-align: center;
}
.learn-more:hover { border-color: #0075BC; color: #0075BC; text-decoration: none; }
.learn-more.big { font-size: 22px; padding: 18px 42px 16px; }
.learn-more.big .fa-chevron-right { font-size: 15px; margin-left: 5px; }
.learn-more.white { border-color: #fff; color: #fff; }
.learn-more.white:hover { border-color: #0097de; color: #0097de; }

.input-style {
    display: block;
    width: 100%;
    margin: 0;
    padding: 8px 8px 7px;
    border: 2px solid #c5c7c8;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 18px "proximanova-regular";
    color: #191f22;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.input-style.dark {
    border: none;
    background: #425157;
    color: #fff;
}
.input-style::-webkit-input-placeholder {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.input-style::-moz-placeholder {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.input-style:-ms-input-placeholder {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.input-style:-moz-placeholder {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.input-style.dark::-webkit-input-placeholder { color: #fff; }
.input-style.dark::-moz-placeholder { color: #fff; }
.input-style.dark:-ms-input-placeholder { color: #fff; }
.input-style.dark:-moz-placeholder { color: #fff; }
.input-style:focus::-webkit-input-placeholder { opacity: 0; }
.input-style:focus::-moz-placeholder { opacity: 0; }
.input-style:focus:-ms-input-placeholder { opacity: 0; }
.input-style:focus:-moz-placeholder { opacity: 0; }

.check-style input[type=checkbox] {
    display: none;
}
.check-style span {
    position: relative;
    display: inline-block;
    padding-left: 35px;
}
.check-style span:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #CCCFD1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    color: #0097de;
    font: normal normal normal 18px/20px FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.check-style input[type=checkbox]:checked + span:before {
    content: '\f00c';
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.half-box {
    float: left;
    width: 50%;
}
.section {
    padding: 92px 0 100px;
    text-align: center;
}
    .section .btn { min-width: 184px; }
.section-content {
    max-width: 685px;
    margin: 0 auto 50px;
}
    .section-content p { margin-bottom: 10px; }
.title {
    max-width: 685px;
    margin: 0 auto 22px;
    font: 600 34px 'proximanova-semibold';
    color: #191f22;
}
.title.white { color: #fff; }

.cell-list {
    overflow: hidden;
    margin-left: -20px;
    padding-top: 48px;
}
    .cell-list > li {
        float: left;
        width: 25%;
        padding-left: 20px;
    }
        .list-box {
            overflow: hidden;
        }
            .list-box-img {
                position: relative;
                display: inline-block;
                width: 100%;
                background: #fff;
                text-align: center;
            }
                .list-box-img.triangle:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-bottom: 30px solid #fff;
                    border-left: 280px solid transparent;
                }
                .list-box-img img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    margin-bottom: -8px;
                }
                    .list-box-img.video a:after {
                        content: '\f04b';
                        font: normal normal normal 32px/80px FontAwesome;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        color: #fff;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        left: 50%;
                        width: 80px;
                        height: 80px;
                        margin: -40px 0 0 -40px;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        background: #1C262A;
                        background: rgba(28,38,42,0.7);
                        text-align: center;
                        letter-spacing: -5px;
                        -webkit-transition: 0.2s;
                        -moz-transition: 0.2s;
                        -o-transition: 0.2s;
                        transition: 0.2s;
                    }
                    .list-box-img.video a:hover:after {
                        background: rgba(28,38,42,0.9);
                    }
            .cell-box {
                background: #fff;
                padding: 16px 20px 24px;
                text-align: left;
                font-size: 16px;
                color: #A7A8A9;
            }
                .cell-box a:hover { text-decoration: none; }
                    .title-cell {
                        font: 600 18px/1.25 "proximanova-semibold";
                        color: #191f22;
                    }
                    a:hover .title-cell { color: #0097de; }
                .cell-date,
                .cell-location {
                    display: inline-block;
                    font-size: 16px;
                    color: #A7A8A9;
                }
                .cell-date {
                    margin-bottom: 10px;
                }
                    .cell-date .fa {
                        margin-right: 4px;
                    }
                .cell-location {
                    margin-top: 10px;
                }
                    .cell-location .fa {
                        font-size: 18px;
                        position: relative;
                        top: 1px;
                        margin-right: 4px;
                    }

.mar-b-60 { margin-bottom: 60px; }

.container-col {
    overflow: hidden;
    padding: 0;
}
    .col {
        float: left;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }


/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    padding-top: 150px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    position: fixed;
    z-index: 1999;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
}
    .header > .container {
        position: relative;
    }
        .logo {
            float: left;
            margin-top: 31px;
            -webkit-transition: 0.35s;
            -moz-transition: 0.35s;
            -o-transition: 0.35s;
            transition: 0.35s;
        }
        .scroll-js .logo {
            margin-top: 4px;
        }
            .logo img {
                max-width: 100%;
                max-height: 100%;
                margin-bottom: -5px;
            }
        .btn.donate {
            float: right;
            margin-top: 55px;
            margin-left: 97px;
            padding: 13px 20px 11px;
            font-family: 'proximanova-semibold';
            font-size: 16px;
            -webkit-transition: margin 0.35s;
            -moz-transition: margin 0.35s;
            -o-transition: margin 0.35s;
            transition: margin 0.35s;
        }
        .scroll-js .btn.donate {
            margin-top: 27px;
        }
        a.search-btn {
            float: right;
            margin-top: 66px;
            margin-left: 14px;
            font-size: 16px;
            line-height: 1;
            color: #191f22;
            -webkit-transition: margin 0.35s;
            -moz-transition: margin 0.35s;
            -o-transition: margin 0.35s;
            transition: margin 0.35s;
        }
        .scroll-js a.search-btn {
            margin-top: 37px;
        }
        a.search-btn:hover {
            text-decoration: none;
            color: #0097de;
        }
        .search-box {
            display: none;
            position: absolute;
            z-index: 100;
            top: 0;
            right: 0;
            left: 270px;
            background: #fff;
        }
            .search-box ul {
                padding: 55px 20px 40px;
                -webkit-transition: padding 0.35s;
                -moz-transition: padding 0.35s;
                -o-transition: padding 0.35s;
                transition: padding 0.35s;
            }
            .scroll-js .search-box ul {
                padding: 27px 20px 10px;
            }
                .search-box li {
                    float: right;
                    margin-left: 11px;
                }
                .search-box li:first-child {
                    margin-left: 19px;
                }
                .search-box li:last-child {
                    overflow: hidden;
                    float: none;
                    margin-left: 0;
                }
                    .search-box .btn {
                        padding: 11px 24px 10px;
                    }
                        .search-box .btn .fa-search {
                            position: relative;
                            top: -2px;
                            font-size: 14px;
                            margin-right: 3px;
                        }
                    .close-search {
                        position: relative;
                        top: -1px;
                        font: 46px/1 'proximanova-semibold';
                        color: #bfbfbf;
                        cursor: pointer;
                        -webkit-transition: margin 0.2s;
                        -moz-transition: margin 0.2s;
                        -o-transition: margin 0.2s;
                        transition: margin 0.2s;
                    }
                    .close-search:hover {
                        color: #191f22;
                    }

/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    float: right;
}
    .main-nav > ul > li {
        float: left;
        max-width: 180px;
    }
        .main-nav a {
            color: #191f22;
        }
        .main-nav ul:not(.sub-menu) a {
            display: table-cell;
            height: 150px;
            padding-left: 15px;
            padding-right: 15px;
            text-transform: uppercase;
            font-family: 'proximanova-semibold';
            font-size: 15px;
            vertical-align: middle;
            text-align: center;
            -webkit-transition: height 0.25s;
            -moz-transition: height 0.25s;
            -o-transition: height 0.25s;
            transition: height 0.35s;
        }
        .scroll-js .main-nav ul:not(.sub-menu) a {
            height: 93px;
        }
        .main-nav a:hover {
            text-decoration: none;
            color: #0097de;
        }
        .main-nav ul:not(.sub-menu) a:hover {
            background: #f5f8fa;
        }
        .main-nav .sub-menu {
            display: none;
        }
/*---------------------------------------BREADCRUBS---------------------------------*/
.breadcrumbs{

}
    .breadcrumbs ul {
        margin: 24px 0;
        float: left;
        font: 400 13px 'proximanova-semibold';
        text-transform: uppercase;
        background-color: #ffffff;
    }
        .breadcrumbs ul li {
            float: left;
            padding: 13px 10px;
        }
            .breadcrumbs a {
                position: relative;
                color: #0f191d;
                text-decoration: none;
            }
            .breadcrumbs a:hover {
                color: #0097de;
            }
            .breadcrumbs a:after{
                content: '\203A';
                position: absolute;
                margin-top: -17px;
                top: 50%;
                right: -14px;
                font-size: 24px;
                color: #0f191d;
            }
            .breadcrumbs a:hover::after{
                color: #0097de;
            }
            .breadcrumbs li:last-child > a:after{
                display: none;
            }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*---------------------------------------HOME---------------------------------------*/
.home-banner {
    background-color: #324046;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
    .banner-box {
        display: table-cell;
        width: 580px;
        height: 720px;
        max-height: 40%;
        padding-top: 50px;
        padding-bottom: 50px;
        vertical-align: middle;
    }
        .banner-title {
            margin-bottom: 22px;
            font-weight: 400;
            font-size: 50px;
            line-height: 1;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        .banner-box p {
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 1.6;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        .banner-box p:last-of-type {
            margin-bottom: 32px;
        }

.section-faces {
    background: #e4e9ed;
}
    .faces-list {
        display: table;
        width: 100%;
        padding: 28px 0 0;
    }
        .faces-list > li {
            display: table-cell;
            position: relative;
            vertical-align: middle;
        }
            .faces-list .faces-wrap {
                position: relative;
                overflow: hidden;
                display: block;
                margin-left: 20px;
                background: #C0C9CF;
            }
            .faces-list .small-faces > li:first-child .faces-wrap {
                margin-bottom: 20px;
            }
            .faces-list > li:first-child .faces-wrap {
                margin-left: 0;
            }
                .title-wrap {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 30%;
                    padding: 0 10px;
                    text-align: center;
                    background: -moz-linear-gradient(top,  rgba(28,38,42,0.01) 0%,rgba(28,38,42,0.7) 62%,rgba(28,38,42,0.7) 100%);
                    background: -webkit-linear-gradient(top,  rgba(28,38,42,0.01) 0%,rgba(28,38,42,0.7) 62%,rgba(28,38,42,0.7) 100%);
                    background: linear-gradient(to bottom,  rgba(28,38,42,0.01) 0%,rgba(28,38,42,0.7) 62%,rgba(28,38,42,0.7) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c262a', endColorstr='#1c262a',GradientType=0 );
                    -webkit-transition-duration: 0.35s;
                    -o-transition-duration: 0.35s;
                    -moz-transition-duration: 0.35s;
                    transition-duration: 0.35s;
                }
                .faces-wrap:hover .title-wrap {
                    height: 100%;
                    background: rgba(28,38,42,0.7);
                }
                    .faces-title {
                        position: absolute;
                        left: 10px;
                        right: 10px;
                        word-wrap: break-word;
                        bottom: 13px;
                        text-align: center;
                        font-size: 16px;
                        font-family: "proximanova-regular";
                        color: #fff;
                        -webkit-transition: 0.35s;
                        -o-transition: 0.35s;
                        -moz-transition: 0.35s;
                        transition: 0.35s;
                    }
                    .faces-wrap:hover .faces-title {
                        bottom: 57px;
                    }
                    .faces-wrap img,
                    .face {
                        max-height: 100%;
                        max-width: 100%;
                        height: auto;
                        width: auto;
                        margin-bottom: -8px;
                    }
                    .read-story {
                        position: absolute;
                        left: 10px;
                        right: 10px;
                        bottom: -23px;
                        font-size: 14px;
                        font-family: "proximanova-semibold";
                        color: #0097de;
                        -webkit-transition: bottom 0.35s, color 0.2s;
                        -o-transition: bottom 0.35s, color 0.2s;
                        -moz-transition: bottom 0.35s, color 0.2s;
                        transition: bottom 0.35s, color 0.2s;
                    }
                    .faces-wrap:hover .read-story {
                        bottom: 21px;
                    }
                    .read-story:hover {
                        text-decoration: none;
                        color: #fff;
                    }
                        .read-story .fa-chevron-right {
                            font-size: 10px;
                        }


.section-calculator {
    position: relative;
    z-index: 3;
}
    .section-calculator:before,
    .section-calculator:after {
        content: '';
        position: absolute;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .section-calculator:before {
        top: -92px;
        left: 0;
        width: 259px;
        height: 402px;
        background-image: url(../img/content/film_right.png);
    }
    .section-calculator:after {
        bottom: -106px;
        right: 0;
        width: 266px;
        height: 452px;
        background-image: url(../img/content/film_left.png);
    }
    .section-calculator > .container {
        position: relative;
        z-index: 2;
    }

.section-trending {
    background: #324046;
}

.section-volunteers {
    background-color: #191f22;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    .volunteers-slider {
        position: relative;
        max-width: 1680px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
    }
        .volunteers-slider .owl-item {
            padding-top: 8px;
            position: relative;
            z-index: 10;
            opacity: 0.2;
            -webkit-transition: opacity 0.35s;
            -moz-transition: opacity 0.35s;
            -o-transition: opacity 0.35s;
            transition: opacity 0.35s;
        }
        .volunteers-slider .owl-item.active {
            opacity: 1;
        }
            .volunteer-img {
                overflow: hidden;
                position: relative;
                z-index: 2;
                display: inline-block;
                height: 180px;
                width: 180px;
                margin-bottom: -90px;
                background: #324046;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.4);
                -moz-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.4);
                box-shadow: 0 1px 8px 0 rgba(0,0,0,0.4);
            }
                .volunteer-img img {
                    max-width: 100%;
                    max-height: 100%;
                }
            .volunteers-slider .owl-item .volunteer-content {
                position: relative;
                z-index: 1;
                background: #fff;
                padding: 112px 62px 52px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
                .volunteer-name {
                    margin-bottom: 27px;
                    font: 700 24px "proximanova-bold";
                    color: #0097de;
                }
                .volunteer-text p:not(:last-child) {
                    margin-bottom: 12px;
                }

        .volunteers-slider .owl-controls .owl-nav .owl-prev,
        .volunteers-slider .owl-controls .owl-nav .owl-next {
            position: absolute;
            z-index: 5;
            top: 147px;
            width: 120px;
            height: 100%;
            height: -moz-calc(100% - 147px);
            height: -webkit-calc(100% - 147px);
            height: calc(100% - 147px);
            font-size: 0;
            color: transparent;
            cursor: pointer;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
        }
        .volunteers-slider .owl-controls .owl-nav .owl-prev {
            left: 280px;
        }
        .volunteers-slider .owl-controls .owl-nav .owl-next {
            right: 280px;
        }
        .volunteers-slider .owl-controls .owl-nav .owl-prev:hover,
        .volunteers-slider .owl-controls .owl-nav .owl-next:hover {
            opacity: 0.7;
        }
            .volunteers-slider .owl-controls .owl-nav .owl-prev:before,
            .volunteers-slider .owl-controls .owl-nav .owl-next:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 28px;
                height: 44px;
                margin-top: -24px;
                margin-left: -14px;
                background: url(../img/content/arrow.png) no-repeat center transparent;
                background-size: contain;
            }
            .volunteers-slider .owl-controls .owl-nav .owl-prev:before {
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }

.section-events,
.section-videos {
    background: #e4e9ed;
}

.logos-list {
    padding: 35px 0 0;
    margin-bottom: -30px;
    text-align: center;
}
    .logos-list li {
        display: inline-table;
        vertical-align: middle;
        width: 19.5%;
        padding: 0 20px 15px;
    }
        .logos-list img {
            max-width: 100%;
            height: auto;
        }

.section-join {
    background-color: #191f22;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    color: #ffffff;
}
    .section-join > .container {
        overflow: hidden;
    }
    .join-box {
        overflow: hidden;
        margin-left: 100px;
    }
        .join-box p {
            margin-bottom: 15px;
        }
        .join-box p:last-of-type {
            margin-bottom: 32px;
        }
    .join-event-list {
        float: right;
        margin: 0 100px 0 100px;
    }
        .join-event-list li{
            position: relative;
            margin-bottom: 20px;
        }
        .join-event-list li:last-child{
            margin-bottom: 0;
        }
        .join-event-list li a::before{
            content: '';
            position: absolute;
            margin-top: -5px;
            top: 50%;
            left: -4px;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #ffffff;
            z-index: 3;
        }
        .join-event-list li a{
            display: block;
            max-width: 300px;
            padding: 20px;
            font: 700 18px/1 'proximanova-bold';
            border-left: 2px solid #ffffff;
            background-color: rgba(38, 48, 53, 0.2);
            text-decoration: none;
            color: #ffffff;
            cursor: pointer;
        }
        .join-event-list li a:hover{
            background-color: rgba(38, 48, 53, 0.5);
        }
            .join-event-title{
                display: block;
                padding-bottom: 5px;
                line-height: 1.15;
            }
            .join-event-date{
                display: block;
                font: 400 14px 'proximanova-regular';
            }

.section-donate {}
    .section-donate .title {
        max-width: 800px;
    }
    .donate-list {
        overflow: hidden;
        padding-top: 22px;
        padding-bottom: 79px;
        margin-left: -20px;
        margin-right: -20px;
    }
        .donate-list li {
            float: left;
            width: 16.66%;
            padding: 0 20px;
            text-align: center;
        }
            .donate-list input[type=checkbox] {
                display: none;
            }
            .donate-number {
                display: table;
                position: relative;
                top: 0;
                z-index: 1;
                width: 140px;
                height: 140px;
                margin: 0 auto;
                border: 2px solid #0097de;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                cursor: pointer;
            }
            .donate-list input[type=checkbox]:not(:checked) + .donate-number:hover,
            .donate-list input[type=checkbox]:not(:checked) + a.donate-number:hover,
            a.donate-number:hover {
                text-decoration: none;
                top: -10px;
                border-color: #cf2d7d;
                color: #cf2d7d;
            }
            .donate-list input[type=checkbox]:checked + .donate-number {
                background: #cf2d7d;
                border-color: #cf2d7d;
                color: #fff;
            }
                .donate-number:before {
                    content: '\f155';
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    z-index: 2;
                    width: 32px;
                    height: 32px;
                    background: #0097de;
                    border: 2px solid #fff;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    font: normal normal normal 19px/32px FontAwesome;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    color: #fff;
                    text-align: center;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                }
                .donate-list input[type=checkbox]:not(:checked) + .donate-number:hover:before,
                .donate-list input[type=checkbox]:checked + .donate-number:before,
                a.donate-number:hover:before {
                    background: #cf2d7d;
                }
                .donate-number:after {
                    content: '';
                    position: absolute;
                    bottom: -25px;
                    left: 50%;
                    z-index: 4;
                    margin-left: -25px;
                    width: 50px;
                    height: 5px;
                    background: rgba(20, 20, 20, .1);
                    box-shadow: 0 0 20px 35px rgba(20,20,20,.1);
                    border-radius: 50%;
                    -webkit-transform: scaleY(.1);
                    -moz-transform: scaleY(.1);
                    -ms-transform: scaleY(.1);
                    -o-transform: scaleY(.1);
                    transform: scaleY(.1);
                    -webkit-animation: shrink 1s infinite;
                    -moz-animation: shrink 1s infinite;
                    -o-animation: shrink 1s infinite;
                    -ms-animation: shrink 1s infinite;
                    animation: shrink 1s infinite;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                }
                .donate-list input[type=checkbox]:not(:checked) + .donate-number:hover:after,
                a.donate-number:hover:after {
                    bottom: -35px;
                    background: rgba(20, 20, 20, .05);
                    box-shadow: 0 0 20px 35px rgba(20,20,20,.05);
                    -webkit-transform: scaleY(.15);
                    -moz-transform: scaleY(.15);
                    -ms-transform: scaleY(.15);
                    -o-transform: scaleY(.15);
                    transform: scaleY(.15);
                }
                .donate-number span {
                    display: table-cell;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    font: 300 42px "proximanova-light";
                    vertical-align: middle;
                    text-align: center;
                    position: relative;
                    top: 2px;
                }
        .donate-checks {
            margin-bottom: 31px;
        }
            .donate-checks li {
                margin-bottom: 6px;
            }
    .note {
        font-size: 13px;
        line-height: 1.25;
        color: #A7A8A9;
    }
    .section-donate .note {
        max-width: 210px;
        width: 100%;
        margin: 17px auto -4px;
    }

/*-------------------------------------FAQ------------------------------------------*/
.section-accordion {
    text-align: left;
    background-color: #e4e9ed;
}
.section-accordion > .container div {
    margin-bottom: 20px;
}
    .section-accordion label {
        padding: 35px 75px 35px 40px;
        position: relative;
        z-index: 20;
        display: block;
        cursor: pointer;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
        line-height: 33px;
        font: 600 24px 'proximanova-bold';
        color: #0f191d;
        background: #ffffff;
    }
    .section-accordion label:hover,
    .section-accordion input:checked + label {
        color: #0097de;
    }
    .section-accordion input:checked + label,
    .section-accordion input:checked + label:hover {
        position: relative;
        z-index: 5;
        border: 2px solid #0097de;
    }
    .section-accordion label::after{
        content: '';
        position: absolute;
        width: 23px;
        height: 3px;
        right: 40px;
        top: 50%;
        margin-top: -1px;
        background-color: #0f191d;
    }
    .section-accordion label::before{
        content: '';
        position: absolute;
        width: 3px;
        height: 23px;
        right: 40px;
        top: 50%;
        margin-top: -11px;
        margin-right: 10px;
        background-color: #0f191d;
    }
    .section-accordion label:hover::after,
    .section-accordion label:hover::before{
        background-color: #0097de;
    }

    .section-accordion input:checked + label::after {
        content: '';
        position: absolute;
        width: 23px;
        height: 3px;
        right: 40px;
        top: 50%;
        margin-top: -1px;
        background-color: #0097de;
    }
    .section-accordion input:checked + label::before {
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-duration: 0.5s;
        opacity: 0;
    }
    .section-accordion input {
        display: none;
    }
    .section-accordion article{
        margin-top: -2px;
        overflow: hidden;
        height: 0px;
        position: relative;
        z-index: 10;
        border-right: 2px solid #0097de;
        border-bottom: 2px solid #0097de;
        border-left: 2px solid #0097de;
        background-color: #ffffff;
        color: #0f191d;
    }
    .section-accordion article p {
        padding: 0px 75px 35px 40px;
        font: 400 18px 'proximanova-regular';
        text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
        color: #0f191d;
    }
    .section-accordion input:checked ~ article {
        position: relative;
        height: auto;
        margin-top: -2px;
        z-index: 10;
        background-color: #ffffff;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    background: #324046;
    min-height: 200px;
    color: #869ea9;
    font-size: 16px;
    line-height: 1.25;
}
.footer p {
    margin-bottom: 12px;
}
.footer a {
    color: #869ea9;
}
    .footer-title {
        margin-bottom: 21px;
        font: 700 20px/1 "proximanova-bold";
        color: #fff;
    }
        .footer-title .fa-rss {
            margin-right: 7px;
        }
    .footer-list li {
        margin-bottom: 12px;
    }
        .footer-list li a {
            font-size: 16px;
            color: #869ea9;
        }
        .footer-bottom {
            background: #263035;
        }

    .footer-top {
        padding: 98px 0 23px;
    }
        .subscribe-box {
            display: table;
            width: 100%;
            padding-top: 5px;
            margin-bottom: 15px;
        }
            .subscribe-box li {
                display: table-cell;
                vertical-align: top;
            }
                .subscribe-btn {
                    width: 130px;
                    padding-left: 10px;
                }
                .subscribe-btn .btn {
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .subscribe-box .input-style {
                    padding: 10px 15px 9px;
                }
        .footer-social {
            overflow: hidden;
        }
            .footer-social li {
                float: left;
                margin-left: 32px;
            }
            .footer-social li:first-child {
                margin-left: 0;
            }
                .footer-social a {
                    font-size: 32px;
                    color: #526269;
                }
                .footer-social a:hover {
                    text-decoration: none;
                    color: #6f8189;
                }
    .footer-bottom {
        padding: 37px 0 30px;
    }
        .copyright {
            padding-top: 42px;
        }
            .copy-menu {
                overflow: hidden;
                padding-top: 8px;
            }
                .copy-menu li {
                    float: left;
                }
                    .copy-menu li:not(:last-child):after {
                        content: "|";
                        display: inline-block;
                        padding: 0 4px;
                    }
                    .copy-menu a {
                        color: #869ea9;
                    }

        .col-box a[href^='tel'] {
            color: #d65695;
            cursor: default;
        }
        .col-box a[href^='tel']:hover {
            text-decoration: none;
        }
        .col-box a[href^='mailto']:hover {
            text-decoration: none;
            color: #0097de;
        }
